{{ attach_library('ike/ikes-soldiers-home-teaser') }}
<section class="ikes-soldiers-home-teaser">
  <a class="ikes-soldiers-home-teaser--link" href="{{ link }}">
  {{ image }}
    <div class="ikes-soldiers-home-teaser__text-content">
      <h2 class="ikes-soldiers-home-teaser__title h5">{{ title }}</h2>
      {{ description }}
    </div>
  </a>
</section>
