{{ attach_library('ike/flat-image-text-card') }}
<section class="flat-image-text-card">
  <a href="{{ link }}" class="flat-image-text-card--link">
    <div class="flat-image-text-card__image">
      {{ image }}
      <h2 class="flat-image-text-card__title">{{ title }}</h2>
    </div>
    <div class="flat-image-text-card__body">{{ body }}</div>
  </a>
</section>
